*~
*__pycache__*
*_ext*
*.bag
*.csv
*.cu.o
*.DS_Store
*.ipynb_checkpoints
*.pkl
*.png
*.pth
*.pyc
*.tfevents*
*.yml

.idea/
.vscode/
*.egg-info/
build/
ckpt/
ckpts/
data/
dist/
output/
results/
result_*/
